dgl==1.1.1
pandas==2.0
optuna==3.2
optuna-dashboard==0.10
torch==2.0.1
torchvision
torchaudio

# used for notebooks and visualisation
matplotlib
ipykernel
colorcet
pyvista
sklearn

# used for testing
pytest